@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-family: 'Poppins', sans-serif;
  }
  .limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .scroll-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scroll-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scroll-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  .scroll-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .dropdown::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 60px;
    background-color: transparent;
  }
  .dropdown:hover .dropdown__list {
    opacity: 1;
  }
}